* {
  font-family: helvetica;
}

.trix {
  min-height: 0px;
  margin: 10px 0px 10px 0px;
}

.no-border {
  border: none;
}

.small {  
  font-size: 11px; 
}

trix-toolbar {
  display: none;
}

.field-title {
  font-weight: lighter;
  color: #999;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.attendees {
  padding: 5px 8px;
  font-size: 15px
}

.trix, .attendees {
  border: none;
  border-bottom: 1px solid #ccc;
}

blockquote {
  margin: 2px 0px 0px 45px;
  font-size: 15px;
}